body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #334e68;
}
.phone {
  width: 350px;
  height: 560px;
  border: solid #5395cf 3px;
  border-radius: 12px;
  display: flex;
  align-items: end;

  padding: 0px;
  background-color: #576776;
}
svg {
  fill: none;
  stroke: #9db2ce;
}

.taskbar {
  /* border: solid blue 1px; */
  display: flex;
  width: inherit;
  height: 30px;
  padding: 18px 8px;
  justify-content: space-around;
  background-color: #1e1e1e;
  border-radius: 0px 0px 9px 9px;
}

.taskbar button {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0px 0px 0px 40%;
}
.navTitle {
  display: none;
  color: #9db2ce;
  font-size: 11px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  margin: 0px 0px 0px 43%;
  color: #386bf6;
}
.taskbar > div > div {
  width: 80px;
}

#Home {
  display: flex;
}
.Homebtn {
  stroke: #1e1e1e;
  fill: #386bf6;
}
